@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
* {
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
  padding: 0;
  font-size: 1vw;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.container {
  align-items: center;
  text-align: center;
  justify-items: center;
  /* border: 2px solid blue; */
}
#bg > img {
  width: 50vw;
  margin-top: 2vh;
}
#img > img {
  width: 5vw;
}
.head {
  display: flex;
  align-items: center;
  margin-top: 5vh;
  justify-content: center;
}
#frs {
  font-size: 2.2vw;
  color: rgb(130, 130, 130);
}
#srs {
  font-size: 2.2vw;
  font-weight: 700;
  margin-left: 0.5vw;
}
#headd {
  margin-top: 1.5vh;
  font-weight: 600;
  color: rgb(130, 130, 130);
  font-size: 1vw;
}
#input {
  display: flex;
  margin-top: 2vh;
  justify-content: center;
  align-items: center;
}
input {
  border: 2px solid rgb(208, 208, 208);
  width: 16vw;
  border-radius: 20px;
  padding: 0.5vw;
}
.notify {
  background-color: hsl(223, 87%, 63%);
  color: white;
  padding: 0.5vw;
  border-radius: 20px;
  width: 6vw;
  margin-left: 0.5vw;
}
.notify:hover {
  cursor: pointer;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#face,
#twitter,
#insta {
  background-color: white;
  padding: 0.5vw;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
  margin-left: 0.5vw;
  border-radius: 11vw;
  box-shadow: 0px 0px 10px gray;
}

#face > i,
#twitter > i,
#insta > i {
  filter: contrast(0.2);
}
#right {
  margin-top: 2vh;
  color: gray;
  font-weight: 500;
}
.valid>p{
    color: white;
    font-size: 2vw;
    font-weight: 600;
    display: none;
}
.valid-mob>p{
    color: white;
    font-size: 2vw;
    font-weight: 600;
    display: none;
    margin-top: 1vh;
}
@media screen and (min-width: 320px) {
  .container {
    width: 90vw;
  }
  #img > img {
    width: 15vw;
  }
  .head {
    margin-top: 3vh;
    font-size: 6.2vw;
  }
  #frs {
    font-size: 6.2vw;
  }
  #srs {
    font-size: 6.2vw;
    margin-left: 1vh;
  }
  #headd {
    font-size: 3vw;
  }
  input {
    border: 2px solid rgb(208, 208, 208);
    width: 50vw;
    font-size: 3vw;
    border-radius: 20px;
    padding: 0.5vw;
  }
  #input {
    flex-direction: column;
  }
  .notify {
    background-color: hsl(223, 87%, 63%);
    color: white;
    padding: 1vw;
    font-size: 3vw;
    margin-top: 2vh;
    border-radius: 20px;
    width: 50vw;
    margin-left: 0;
  }
  #bg > img {
    width: 80vw;
    margin-top: 2vh;
  }
  #face > i,
  #twitter > i,
  #insta > i {
    filter: contrast(0.2);
    width: 10vw;
    transform: scale(6.5);
  }
  #logo{
      margin-top: 10vh;
  }
  #face, #twitter, #insta{
      padding: 4.5vw;
      padding-left: 1vw;
      padding-right: 1vw;
      padding-top: 6vw;
      margin-left: 2vh;
  }
  #right{
      font-size: 2.5vw;
  }
  .valid>p{
      display: none;
  }
  .valid-mob>p{
      display: block;
  }
}
@media screen and (min-width: 600px) {
  .container {
    width: 80vw;
  }
  #img > img {
    width: 10vw;
    margin-top: 2vh;
  }
  .head {
    margin-top: 2vh;
    font-size: 3.2vw;
  }
  #frs {
    font-size: 4.2vw;
  }
  #srs {
    font-size: 4.2vw;
    margin-left: 1vh;
  }
  #headd {
    font-size: 3vw;
  }
  input {
    border: 2px solid rgb(208, 208, 208);
    width: 50vw;
    font-size: 2.5vw;
    border-radius: 20px;
    padding: 0.5vw;
  }
  #input {
    flex-direction: column;
  }
  .notify {
    background-color: hsl(223, 87%, 63%);
    color: white;
    padding: 1vw;
    font-size: 2.5vw;
    margin-top: 2vh;
    border-radius: 20px;
    width: 50vw;
    margin-left: 0;
  }
  #bg > img {
    width: 70vw;
    margin-top: 2vh;
  }
  #face > i,
  #twitter > i,
  #insta > i {
    filter: contrast(0.2);
    width: 4vw;
    transform: scale(3.5);
  }
      #face, #twitter, #insta{
          width: 1.5vw;
      }
      #logo{
        margin-top: 1vw;
      }
      #right{
          font-size: 1vw;
      }
    .valid>p{
        display: block;
font-size: 1vw;
    }
    .valid>p{
        color: white;
    }
}
@media screen and (min-width:1300px) {
    #bg>img{
        width: 40vw;
    }
    input{
        font-size: 1vw;
    }
    .notify{
        font-size: 1vw;
        padding: .5vw;
    }
    .valid{
        display: block;
    }
  
    .valid>p{
        display: block;
font-size: 1vw;
    }
    .valid>p{
        color: white;
    }
}

